[submodule "Documentation/theme"]
	path = Documentation/theme
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "Documentation/Style"]
	path = Documentation/Style
	url = https://github.com/prodmodfour/ue5-style-guide
